<div class="container mt-4">
  <h1>Registro de Activos</h1>

  <form (ngSubmit)="addActivo()" #form="ngForm">
    <div class="mb-3">
      <label for="activoInformacion">Información del Activo</label>
      <input type="text" class="form-control" id="activoInformacion" name="activoInformacion" [(ngModel)]="activoInformacion">
    </div>
    <div class="mb-3">
      <label for="amenaza">Amenaza</label>
      <input type="text" class="form-control" id="amenaza" name="amenaza" [(ngModel)]="amenaza">
    </div>
    <div class="mb-3">
      <label for="consecuencia">Consecuencia</label>
      <input type="text" class="form-control" id="consecuencia" name="consecuencia" [(ngModel)]="consecuencia">
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="probabilidad">Probabilidad</label>
        <input type="number" class="form-control" id="probabilidad" name="probabilidad" [(ngModel)]="probabilidad">
      </div>
      <div class="col-md-6">
        <label for="impacto">Impacto</label>
        <input type="number" class="form-control" id="impacto" name="impacto" [(ngModel)]="impacto">
      </div>
    </div>
    <div class="mb-3">
      <label for="tratamiento">Tratamiento</label>
      <input type="text" class="form-control" id="tratamiento" name="tratamiento" [(ngModel)]="tratamiento">
    </div>
    <div class="mb-3">
      <label for="mitigacion">Mitigación</label>
      <input type="text" class="form-control" id="mitigacion" name="mitigacion" [(ngModel)]="mitigacion">
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="tipo">Tipo</label>
        <input type="text" class="form-control" id="tipo" name="tipo" [(ngModel)]="tipo">
      </div>
      <div class="col-md-6">
        <label for="nivel">Nivel</label>
        <input type="text" class="form-control" id="nivel" name="nivel" [(ngModel)]="nivel">
      </div>
    </div>
    <div class="mb-3">
      <label for="frecuencia">Frecuencia</label>
      <input type="text" class="form-control" id="frecuencia" name="frecuencia" [(ngModel)]="frecuencia">
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="probabilidad2">Probabilidad 2</label>
        <input type="number" class="form-control" id="probabilidad2" name="probabilidad2" [(ngModel)]="probabilidad2">
      </div>
      <div class="col-md-6">
        <label for="impacto2">Impacto 2</label>
        <input type="number" class="form-control" id="impacto2" name="impacto2" [(ngModel)]="impacto2">
      </div>
    </div>

    <div class="mb-3 p-4">
      <button type="submit" class="btn btn-primary">Agregar Activo</button>
    </div>
  </form>

  <hr class="rounded">
  <h1>Matriz de riesgos</h1>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Activo de informacion</th>
          <th scope="col">Vulnerabilidad/Amenaza</th>
          <th scope="col">Consecuentcia</th>
          <th scope="col">Probabilidad</th>
          <th scope="col">Impacto</th>
          <th scope="col">Riesgo Inherente</th>
          <th scope="col">Nivel riesgo</th>
          <th scope="col">Tratamiento del riesgo inherente</th>
          <th scope="col">Controles a implementar</th>
          <th scope="col">Tipo</th>
          <th scope="col">Nivel</th>
          <th scope="col">Frecuencia</th>
          <th scope="col">Probabilidad2</th>
          <th scope="col">Impacto2</th>
          <th scope="col">Riesgo Residual</th>
          <th scope="col">Nivel riesgo</th>
        </tr>
      </thead>
      <tbody *ngFor="let activo of activos">
        <tr>
          <th scope="row"></th>
          <td>{{ activo.activoInformacion }}</td>
          <td>{{ activo.amenaza }}</td>
          <td>{{ activo.consecuencia }}</td>
          <td>{{ activo.probabilidad }}</td>
          <td>{{ activo.impacto }}</td>
          <td>{{ activo.RiesgoInherente }}</td>
          <td><img src={{imagepath}}/></td>
          <td>{{ activo.tratamiento }}</td>
          <td>{{ activo.mitigacion }}</td>
          <td>{{ activo.tipo }}</td>
          <td>{{ activo.nivel }}</td>
          <td>{{ activo.frecuencia }}</td>
          <td>{{ activo.probabilidad2 }}</td>
          <td>{{ activo.impacto2 }}</td>
          <td>{{ activo.RiesgoResidual }}</td>
          <td><img src={{imagepath1}}/></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

